@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('./img/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html {
    scroll-behavior: smooth;
}

.cabecalho {
    background: #FF4500;
    display: flex;
    align-items: center;
    gap: 50px;
}

.titulo {
    color: white;
    font-size: 90px;
    padding-left: 1px;
}

.cabecalho-img {
    padding-left: 70px;
    padding-top: 5px;
}

.cabecalho-menu {
    padding-left: 400px;
    display: flex;
    gap: 60px;
}

.cabecalho-menu-item {
    color: #DCDCDC;
    font-weight: 600;
    font-size: 25px;
    text-decoration: none;
    
}

.subtitulo {
    background: #FAEBD7;
    border: 2px solid #FF4500;
    border-radius: 50px;
    margin-left: 500px;
    margin-right: 500px;
    width: 850px;
    text-align: center;
    color: #FF4500;
    margin-top: 50px;
    font-size: 35px;
}

.container {
    padding-right: 150px;
    margin-top: 50px;
    border: 5px solid #FF4500;
    background: #FAEBD7;
    border-radius: 50px;
    width: 900px;
    margin-left: 390px;
    margin-right: 100px;
    display: flex;
    align-items: center;
}

.imagem {
    display: inline-block;
    width: 400px;
}

.preco {
    display:inline-block;
    font-size: 30px;
}

.atendimento{
    border: 5px solid #FF4500;
    border-radius: 50px;
    margin-left: 600px;
    margin-right: 600px;
    background: #FAEBD7;
    font-size: 12px;
    text-align: center;
    margin-top: 5%;

}
.endereco-titulo {
    background-color: #FF4500;
    border-radius: 10px;
    color:#FAEBD7;
    margin-top: 25px;
}


.botao{
    display: inline block;
    margin-left: 198px;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DCDCDC;
    border: 5px solid #FF4500;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.botao span{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    cursor: pointer;
}

.botao span.num{
    font-size: 50px;
    border-right: 3px solid rgba(0,0,0,0.2);
    border-left: 3px solid rgba(0,0,0,0.2);
    pointer-events: none;
}
.wrapper {
    display: inline block;
    margin-left: 100px;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DCDCDC;
    border: 5px solid #FF4500;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.wrapper span {
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    cursor: pointer;
}

.wrapper span.nu {
    font-size: 50px;
    border-right: 3px solid rgba(0,0,0,0.2);
    border-left: 3px solid rgba(0,0,0,0.2);
    pointer-events: none;
}

.button{
    display: inline block;
    margin-left: 50px;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DCDCDC;
    border: 5px solid #FF4500;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.button span{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    cursor: pointer;
}

.button span.nume{
    font-size: 50px;
    border-right: 3px solid rgba(0,0,0,0.2);
    border-left: 3px solid rgba(0,0,0,0.2);
    pointer-events: none;
}

.bt{
    display: inline block;
    margin-left: 115px;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DCDCDC;
    border: 5px solid #FF4500;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.bt span{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    cursor: pointer;
}

.bt span.n{
    font-size: 50px;
    border-right: 3px solid rgba(0,0,0,0.2);
    border-left: 3px solid rgba(0,0,0,0.2);
    pointer-events: none;
}

.bn{
    display: inline block;
    margin-left: 140px;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DCDCDC;
    border: 5px solid #FF4500;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.bn span{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    cursor: pointer;
}

.bn span.numer{
    font-size: 50px;
    border-right: 3px solid rgba(0,0,0,0.2);
    border-left: 3px solid rgba(0,0,0,0.2);
    pointer-events: none;
}

.b{
    display: inline block;
    margin-left: 180px;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DCDCDC;
    border: 5px solid #FF4500;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.b span{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    cursor: pointer;
}

.b span.number{
    font-size: 50px;
    border-right: 3px solid rgba(0,0,0,0.2);
    border-left: 3px solid rgba(0,0,0,0.2);
    pointer-events: none;
}

.bo{
    display: inline block;
    margin-left: 160px;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DCDCDC;
    border: 5px solid #FF4500;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.bo span{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    cursor: pointer;
}

.bo span.numero{
    font-size: 50px;
    border-right: 3px solid rgba(0,0,0,0.2);
    border-left: 3px solid rgba(0,0,0,0.2);
    pointer-events: none;
}

.bot{
    display: inline block;
    margin-left: 195px;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DCDCDC;
    border: 5px solid #FF4500;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.bot span{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    cursor: pointer;
}

.bot span.ns{
    font-size: 50px;
    border-right: 3px solid rgba(0,0,0,0.2);
    border-left: 3px solid rgba(0,0,0,0.2);
    pointer-events: none;
}

.oatob{
    display: inline block;
    margin-left: 190px;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DCDCDC;
    border: 5px solid #FF4500;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.oatob span{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    cursor: pointer;
}

.oatob span.vnumero{
    font-size: 50px;
    border-right: 3px solid rgba(0,0,0,0.2);
    border-left: 3px solid rgba(0,0,0,0.2);
    pointer-events: none;
}

.zbot{
    display: inline block;
    margin-left: 195px;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DCDCDC;
    border: 5px solid #FF4500;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.zbot span{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    cursor: pointer;
}

.zbot span.znumero{
    font-size: 50px;
    border-right: 3px solid rgba(0,0,0,0.2);
    border-left: 3px solid rgba(0,0,0,0.2);
    pointer-events: none;
}

.imagem-salgados {
    display: inline-block;
    width: 160px;
    padding-left: 140px;
}

.preco-salgados {
    display:inline-block;
    font-size: 30px;
    padding-left: 100px;

}

.imagem-queijo {
    display: inline-block;
    width: 180px;
    padding-left: 130px;
}

.imagem-salsicha{
    display: inline-block;
    width: 170px;
    padding-left: 135px;
}

.imagem-quibe{
    display: inline-block;
    width: 180px;
    padding-left: 135px;
}

.imagem-bodas{
    display: inline-block;
    width: 160px;
    padding-left: 150px;
}

.botao-pedido{
    display: inline block;
    font-weight: 400;
    font-size: 35px;
    align-items: center;
    padding-left: 200px;
    padding: 5px;
    margin-left: 800px;
    margin-top: 100px;
    color: orangered;
}

.maps{
    width: 60px;
    margin: 20px;
    margin-top: 10px;

}

.loc{
    font-size: 27px;
    align-items: center;
    color: black;
    margin-bottom:30px ;

}