body {
    font-family: Arial, sans-serif;
  }

  .form-container {
    
    margin: 0 auto;
    margin-top: 40px;
    align-items: center;
    height: auto;
    margin-top: 50px;
    border: 5px solid #FF4500;
    background: #fffaf4;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    width: auto;
    display: flex;
}
  

  .form{
    width: 100%;
    height: 100%;
    
    
  }

  .form-group {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  label {
    display: block;
    font-weight: bold;
  }

  input[type="text"],
  input[type="tel"],
  input[type="date"] {
    height: 30px;
    width: 150px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #FF4500;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    transition: 2s;
    background-color: #00ff62;
  }

  .input{
    margin-bottom: 30px;
    margin-top: 30px;
  }